<!-- Page Content -->
<div id="page-content-wrapper">

    <div class="row">
        <form role="form" method="post">

            <!-- NAME -->
            <div class="form-group">
                <label>Angebotsname</label>
                <input type="text" name="firstName" class="form-control" ng-model="offer.postName" ng-required="true">

            </div>

            <!-- CATEGORY -->
            <div class="form-group">
                <label>Kategorie:</label>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="category in categories">{{category.name}}</li>
                    </ul>
                </div>
            </div>

            <!-- DESCRIPTIOM -->
            <div class="form-group">
                <label>Angebotsbeschreibung</label>
                <textarea ng-model="offer.description" ng-required="true" class="form-control" rows="5"></textarea>
            </div>

            <div class="form-group">
                <button ng-click="" type="submit"
                        class="btn btn-default">Angebot hinzufügen
                </button>
            </div>
        </form>

    </div>
</div>
