<div style="margin-top: 50px;">
    <div style="width: 50%; margin:auto" class="btn-group btn-group-justified" role="group">

        <a ng-click="showTemplateLend()" type="submit" class="btn btn-default">Verleihen</a>

        <a ng-click="showTemplateService()" type="submit" class="btn btn-primary">Dienstleistung</a>

        <a ng-click="showTemplateDonate()" type="submit" class="btn btn-default">Verschenken</a>
    </div>
</div>

<div style="margin-top: 50px">
    <h2>Dein neues Angebot</h2>
</div>


<div class="container-fluid" style="margin-top: 50px;">
    <div class="form-horizontal">

        <!-- Form code begins -->
        <form id="formCreateOffer" name="formCreateOffer" method="post">

            <div ng-if="errorSelectCategory" id="errorSelectCategory" class="alert alert-danger text-center">
                Bitte wählen Sie eine Kategorie aus.
            </div>
            <div ng-if="errorCreateOffer" id="errorCreateOffer" class="alert alert-danger text-center">
                Beim Erstellen des Angebotes ist ein Fehler aufgetreten.
            </div>

            <!-- NAME -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="insertOfferName">Angebotsname:</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="insertOfferName" ng-model="offer.postName"
                           ng-required="true">
                </div>
            </div>

            <script language="javascript" type="text/javascript" src="/js/components/datepicker.js"></script>
            <!-- CATEGORY -->
            <div class="form-group">
                <label class="col-md-2 control-label">Kategorie:</label>
                <div class="col-md-6">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{offer.category.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="insertOfferCategory">
                            <li ng-click="selectCategory(category)" ng-repeat="category in categories | orderBy : 'id'"><a href="#">{{category.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- TIME -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="insertOfferDate">Gültig bis:</label>
                <div class="col-md-6">
                    <input class="form-control" ng-model="offer.period" ng-required="true" id="insertOfferDate"
                           name="date" placeholder="DD.MM.YYYY" type="text"/>
                </div>
            </div>

            <!-- DESCRIPTIOM -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="insertOfferDescription">Angebotsbeschreibung:</label>
                <div class="col-md-6">
                <textarea class="form-control" id="insertOfferDescription" ng-model="offer.description"
                          ng-required="true"
                          rows="5"></textarea>
                </div>
            </div>

            <div class="form-group text-center">
                <button ng-click="formCreateOffer.$valid && doCreateNewOffer()" type="submit" id="insertOfferSubmitButton" class="btn btn-primary">Angebot hinzufügen
                </button>
            </div>
        </form>

    </div>
</div>
