<div style="margin-top: 50px">
    <div style="width: 50%; margin:auto" class="btn-group btn-group-justified" role="group">

        <a ng-click="showTemplateLend()" type="submit" class="btn btn-default">Verleihen</a>

        <a ng-click="showTemplateService()" type="submit" class="btn btn-default">Dienstleistung</a>

        <a ng-click="showTemplateDonate()" type="submit" class="btn btn-primary">Verschenken</a>
    </div>
</div>

<div style="margin-top: 50px">
    <h2>Dein neues Angebot</h2>
</div>