<div data-ng-init="init()">

    <div id="deleteSuccessful" class="ng-cloak alert alert-success text-center" ng-if="accountDeleted">
        <strong>Schade, dass du uns verlässt!</strong> Dein Account wurde gelöscht.
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <div class="form-top">
                    <div class="centered-pills">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="active"><a id="anchorLoginShowLogin" href="/">Login</a></li>
                            <li role="presentation"><a id="anchorLoginShowRegister" href="Register">Registrierung</a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div class="form-bottom">
                    <div style="display: none" id="errorLogin" class="ng-cloak alert alert-danger text-center">
                        Falsche E-Mail-Adresse oder Passwort.
                    </div>
                    <form id="loginForm" role="form" name="loginForm" method="post" class="login-form">
                        <div class="form-group">
                            <input ng-model="login.mail" type="email" placeholder="E-Mail..." class="form-control"
                                   oninput="resetLoginError()" id="form-email" ng-required="true">
                        </div>
                        <div class="form-group">
                            <input ng-model="login.password" type="password" placeholder="Passwort..." class="form-control"
                                   oninput="resetLoginError()" id="form-password" ng-required="true">
                        </div>
                        <button ng-click="loginForm.$valid && doLogin()" type="submit" class="authenticate">Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 social-login">
                <h4>...oder Einloggen mit:</h4>

                <div class="text-center social-login-buttons">
                    <a class="btn btn-link-1 btn-link-1-facebook" href="">
                        <em class="fa fa-facebook"></em> Facebook
                    </a>
                    <a class="btn btn-link-1 btn-link-1-twitter" href="">
                        <em class="fa fa-twitter"></em> Twitter
                    </a>
                    <a class="btn btn-link-1 btn-link-1-google-plus" ng-click="authenticate('google')" href="">
                        <em class="fa fa-google-plus"></em> Google Plus
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>