<div data-ng-init="init()">

    <div ng-include="templateNavigation"></div>

</div>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <p style="margin-top: 40px">Einstellungen</p>
            </li>
            <li>
                <a href="Settings">Nutzungsbedingungen</a>
            </li>
            <li>
                <a href="Password">Passwort ändern</a>
            </li>
            <li>
                <a href="DeleteUser">Account löschen</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <form role="form" class="form-horizontal" name="changePWForm" id="changePWForm" method="post">
                    <!-- CURRENT PASSWORD -->
                    <div class="form-group">
                        <label>Aktuelles Passwort</label>
                        <input type="password" name="currentPW" id="form-actualPW" ng-model="password.current"
                               ng-required="true">
                    </div>

                    <!-- NEW PASSWORD -->
                    <div class="form-group">
                        <label>Neues Passwort</label>
                        <input type="password" oninput="validateChangePw()" name="newPW" id="form-newPW"
                               ng-model="password.new"
                               ng-required="true">
                    </div>

                    <!-- CONFIRM NEW PASSWORD -->
                    <div class="form-group">
                        <label>Neues Passwort bestätigen</label>
                        <input type="password" oninput="validateChangePw()" name="confirmNewPW" id="form-confirmNewPW"
                                ng-model="password.confirmnew"
                               ng-required="true">
                    </div>

                    <div class="form-group">
                        <button ng-click="changePWForm.$valid && changePassword()" type="submit" id="form-changePW" class="btn btn-default">Passwort ändern
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

</div>