<div data-ng-init="init()">
    <div ng-include="templateNavigation"></div>
</div>


<div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <p style="margin-top: 40px">Einstellungen</p>
            </li>
            <li>
                <a href="Settings">Nutzungsbedingungen</a>
            </li>
            <li>
                <a class="active" href="Password">Passwort ändern</a>
            </li>
            <li>
                <a href="DeleteUser">Account löschen</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">

        <div style="margin-top: 50px">
            <h2>Passwort ändern</h2>
        </div>

        <div class="container-fluid" style="margin-top: 50px;">
            <div class="form-horizontal">
                <form role="form" class="form-horizontal" name="changePWForm" id="changePWForm" method="post">

                    <div ng-if="errorChangePassword" id="errorChangePassword" class="ng-cloak alert alert-danger text-center">
                        Das eingegebene aktuelle Passwort ist nicht korrekt.
                    </div>
                    <div ng-if="successChangePassword" id="successChangePassword" class="ng-cloak alert alert-success text-center">
                        Das Passwort wurde erfolreich geändert.
                    </div>

                    <div class="col-md-offset-2">

                        <!-- CURRENT PASSWORD -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="passwordInputCurrentPw">Aktuelles
                                Passwort:</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" id="passwordInputCurrentPw"
                                       ng-model="tmpUser.password" ng-required="true">
                            </div>
                        </div>

                        <!-- NEW PASSWORD -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="passwordInputNewPw">Neues Passwort:</label>
                            <div class="col-md-5">
                                <input type="password" oninput="validateChangePw()" class="form-control" ng-model="newPassword"
                                       id="passwordInputNewPw" ng-required="true">
                            </div>
                        </div>

                        <!-- CONFIRM NEW PASSWORD -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="passwordInputNewPw">Neues Passwort
                                bestätigen:</label>
                            <div class="col-md-5">
                                <input type="password" oninput="validateChangePw()"
                                       id="passwordInputConfirmPw" class="form-control"
                                       ng-model="tmpUser.newPassword" ng-required="true">
                            </div>
                        </div>

                    </div>

                    <div class="form-group text-center" style="margin-top: 50px">
                        <button ng-click="changePWForm.$valid && changePassword()" type="submit"
                                id="passwordButtonChangePw"
                                class="btn btn-primary">Passwort ändern
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>