<div>

    <!--
        you can substitue the span of reauth email for a input with the email and
        include the remember me checkbox
        -->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="img/avatar.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signInUp">
                <span id="reauth-email" class="reauth-email"></span>
                <input ng-model="user.firstName" type="text" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
                <input ng-model="user.lastName" type="text" id="inputLastName" class="form-control" placeholder="Last Name" required>
                <input ng-model="user.mail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                <input ng-model="user.pw" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input ng-model="user.confirmPw" type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                <button ng-click="doRegister()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
            </form><!-- /form -->
            <a href="#/" class="register">
                Bereits registriert? Jetzt anmelden!
            </a>

        </div><!-- /card-container -->
    </div><!-- /container -->

</div>