<script language='javascript' type='text/javascript'>
    function validatePw() {
        //alert(input.value);
        if (document.getElementById('form-confirmPassword').value != document.getElementById('form-password').value) {
            $('#signUp').prop('disabled', true);
            $('#form-confirmPassword').css("background-color", "rgba(206,132,131,0.58)");
            $('#form-confirmPassword').css("color", "#fff");
        } else {
            // input is valid -- reset the error message
            $('#signUp').prop('disabled', false);
            $('#form-confirmPassword').css("background-color", "#f8f8f8");
            $('#form-confirmPassword').css("color", "#888");
        }
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="centered-pills">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="#/">Login</a></li>
                        <li role="presentation" class="active"><a href="#Register">Register</a></li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" name="registerForm" id="registerForm" method="post" class="login-form">
                    <div class="form-group">
                        <input ng-model="user.firstName" type="text" placeholder="First Name..." class="form-control" id="form-firstname" ng-required="true">
                    </div>
                    <div class="form-group">
                        <input ng-model="user.lastName" type="text" placeholder="Last Name..." class="form-control" id="form-lastname" ng-required="true">
                    </div>
                    <div class="form-group">
                        <input ng-model="user.mail" type="email" placeholder="Email..." class="form-control" id="form-email" ng-required="true">
                    </div>
                    <div class="form-group">
                        <input ng-model="user.pw" type="password"  placeholder="Password..." class="form-control" id="form-password" oninput="validatePw()" ng-required="true">
                    </div>
                    <div class="form-group">
                        <input ng-model="user.confirmPw" type="password" placeholder="Confirm Password..." class="form-control" oninput="validatePw()" id="form-confirmPassword" ng-required="true">
                    </div>
                    <button id="signUp" ng-click="registerForm.$valid && doRegister()" type="submit" class="btn">Sign up!</button>
                </form>
            </div>
        </div>
    </div>



</div>